.fa-sharp:active{
    color:#0d6efd;
}
.fa-house{
    color: gray;
}
.fa-store{
    color: gray;
}
.fa-cube{
    color: gray;
}
.fa-users:active{
    color:#0d6efd;
}
.fa-users{
    color: gray;
}
.text-muted:active{
    color:#0d6efd;   
}
.bi:focus{
    color:#0d6efd;   
}